


.card {
    flex-grow: 1;  
}

.card-descr {
    margin: auto;
}

.card-descr p{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: slategray;
    width: 70%;
   
    
}
.card-img {
    display: flex;
    object-fit: contain;
    border-radius: 10px;
    margin: auto;
    max-width: 70%;
    max-height: 70%;
    
}

.container {
    height:100vh;
    width: 100vw;
}

body {
    background: 
        url(../images/backgrounds/emperorthroneroomfull.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
  }